
/*Hijab Irfan (2021-bcms-057)*/
body{
  font-family: Helvetica;
}


.section1{
    display: flex;
   flex-direction: column;
    align-items: center;
    
}
#name{
    margin-top: -150px;
    margin-left: -700px;
}
#picture{
    width: 250px;
    
}
img{
    border-radius: 50%;
    margin-left: 120px;
    margin-top: 20px;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
    margin-left: 500px;
    letter-spacing: 2px;
    
    
}
li{
    padding: 10px;
    list-style-type: none;
}
#about{
    padding: 20px;
    margin-top: 30px;
    margin-bottom: -20px;
    
}
#obj{
  width: 600px;
  text-align: justify;
  margin-left: 780px;
  margin-top: -70px;
}
h2 {
      margin-left: 500px;
    }

    
    .timeline,
    .timeline2 {
      background: var(--primary-color, #ffffff);
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
    }

    
    .outer1,
    .outer2 {
      border-left: 2px solid #333;
      padding-left: 40px;
      text-align: left; 
    }

    
    .card {
      position: relative;
      margin: 0 auto 20px auto;
      padding: 10px;
      background: #f3f3f3;
      color: #1a1818;
      border-radius: 8px;
      max-width: 400px;
    }

    
    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .title {
      color: #000;
      position: relative;
      padding-left: 30px; 
    }

    .title::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: white;
      border-radius: 50%;
      left: 0; 
      top: 0;
      border: 3px solid orangered;
    }
  #skills{
     width: 600px;
  text-align: justify;
  margin-left: 400px;
  margin-top: -70px;
  }
  .container {
         width: 100%;
         background-color: rgb(231, 231, 231);
         border-radius: 20px;
      }
      .reading, .writing, .speaking, .listen {
         text-align: center;
         font-weight: bolder;
         padding-top: 3px;
         padding-bottom: 3px;
         color: white;
         border-radius: 20px;
      }
      .reading {
         width: 90%;
         background-color: #747272;
      }
      .writing {
         width: 86%;
         background-color: #747272;
      }
      .speaking {
         width: 85%;
         background-color: #747272;
      }
      .listen {
         width: 98%;
         background-color: #747272;
      }
      #tongue{
        width: 600px;
  text-align: justify;
  margin-left: 400px;
  margin-top: -70px;
      }
  #reference{
    width: 600px;
  text-align: justify;
  margin-left: 400px;
  margin-top: -70px;
  } 
  #edu{
    margin-left: -30px;

  }
 
 
