body{
  font-family: Helvetica;
}
#obj{
  width: 600px;
  text-align: justify;
  margin-left: 750px;
  margin-top: -70px;
}
.contenthead{
display: flex;
align-items: center;
margin-left: 400px;
text-transform: capitalize;
}
.section1{
    display: flex;
   flex-direction: column;
    align-items: center;
    
}
#name{
    margin-top: -150px;
    margin-left: -700px;
}
#picture{
    width: 250px;
}
img{
    border-radius: 50%;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
    margin-left: 500px;
    letter-spacing: 2px;
    
    
}
li{
    padding: 10px;
    list-style-type: none;
}
#about{
    padding: 20px;
    margin-top: 30px;
    margin-bottom: -20px;
}
.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
   
   
  }
  
 
  .outer1 {
    border-left: 2px solid #333;
  }
  
  
 
  .card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: #f1eaea;
    color: rgb(26, 24, 24);
    border-radius: 8px;
    max-width: 400px;
  }
  
  
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
 
  .title {
    color: rgb(0, 0, 0);
    position: relative;
  }
  
 
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid orangered;
  }
#skills{
     width: 600px;
  text-align: justify;
  margin-left: 750px;
  margin-top: -70px;
  }
  .container {
         width: 100%;
         background-color: rgb(231, 231, 231);
         border-radius: 20px;
      }
      .reading, .writing, .speaking, .listen {
         text-align: center;
         font-weight: bolder;
         padding-top: 3px;
         padding-bottom: 3px;
         color: white;
         border-radius: 20px;
      }
      .reading {
         width: 90%;
         background-color: #747272;
      }
      .writing {
         width: 86%;
         background-color: #747272;
      }
      .speaking {
         width: 85%;
         background-color: #747272;
      }
      .listen {
         width: 98%;
         background-color: #747272;
      }
      #tongue{
        width: 600px;
  text-align: justify;
  margin-left: 750px;
  margin-top: -70px;
      }
  #reference{
    width: 600px;
  text-align: justify;
  margin-left: 750px;
  margin-top: -70px;
  }    

 
